Incident.SOR.API/Incident.SOR.API.csproj.user
Incident.SOR.API/.vs/Incident.SOR.API/config/applicationhost.config
Incident.SOR.API/.vs/Incident.SOR.API/FileContentIndex/16e5cc44-dfee-47aa-8c60-d540998da60c.vsidx
Incident.SOR.API/.vs/Incident.SOR.API/FileContentIndex/723ae1aa-0fa4-48ee-ac5c-d37c2425fc55.vsidx
Incident.SOR.API/.vs/Incident.SOR.API/FileContentIndex/867cb4d7-0c79-48fa-aa70-7a8f547dd96c.vsidx
Incident.SOR.API/.vs/Incident.SOR.API/FileContentIndex/9ca7c175-cc9b-4eba-b1e8-2b98c4b5061f.vsidx
Incident.SOR.API/.vs/Incident.SOR.API/FileContentIndex/read.lock
Incident.SOR.API/.vs/Incident.SOR.API/v17/.suo
Incident.SOR.API/.vs/ProjectEvaluation/incident.sor.api.metadata.v6.1
Incident.SOR.API/.vs/ProjectEvaluation/incident.sor.api.projects.v6.1
Incident.SOR.API/bin/Debug/net6.0/appsettings.Development.json
Incident.SOR.API/bin/Debug/net6.0/appsettings.json
Incident.SOR.API/bin/Debug/net6.0/Dapper.dll
Incident.SOR.API/bin/Debug/net6.0/DapperExtensions.dll
Incident.SOR.API/bin/Debug/net6.0/Incident.SOR.API.deps.json
Incident.SOR.API/bin/Debug/net6.0/Incident.SOR.API.dll
Incident.SOR.API/bin/Debug/net6.0/Incident.SOR.API.exe
Incident.SOR.API/bin/Debug/net6.0/Incident.SOR.API.pdb
Incident.SOR.API/bin/Debug/net6.0/Incident.SOR.API.runtimeconfig.json
Incident.SOR.API/bin/Debug/net6.0/Incident.SOR.Application.dll
Incident.SOR.API/bin/Debug/net6.0/Incident.SOR.Application.pdb
Incident.SOR.API/bin/Debug/net6.0/Incident.SOR.Core.dll
Incident.SOR.API/bin/Debug/net6.0/Incident.SOR.Core.pdb
Incident.SOR.API/bin/Debug/net6.0/Incident.SOR.Domain.dll
Incident.SOR.API/bin/Debug/net6.0/Incident.SOR.Domain.pdb
Incident.SOR.API/bin/Debug/net6.0/Incident.SOR.Infrastructure.dll
Incident.SOR.API/bin/Debug/net6.0/Incident.SOR.Infrastructure.pdb
Incident.SOR.API/bin/Debug/net6.0/Microsoft.Extensions.Configuration.Abstractions.dll
Incident.SOR.API/bin/Debug/net6.0/Microsoft.Extensions.Configuration.Binder.dll
Incident.SOR.API/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
Incident.SOR.API/bin/Debug/net6.0/Microsoft.Extensions.Primitives.dll
Incident.SOR.API/bin/Debug/net6.0/Microsoft.OpenApi.dll
Incident.SOR.API/bin/Debug/net6.0/Newtonsoft.Json.dll
Incident.SOR.API/bin/Debug/net6.0/Oracle.ManagedDataAccess.dll
Incident.SOR.API/bin/Debug/net6.0/Slapper.dll
Incident.SOR.API/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
Incident.SOR.API/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
Incident.SOR.API/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
Incident.SOR.API/bin/Debug/net6.0/System.Data.SqlClient.dll
Incident.SOR.API/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
Incident.SOR.API/bin/Debug/net6.0/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
Incident.SOR.API/bin/Debug/net6.0/runtimes/win-arm64/native/sni.dll
Incident.SOR.API/bin/Debug/net6.0/runtimes/win-x64/native/sni.dll
Incident.SOR.API/bin/Debug/net6.0/runtimes/win-x86/native/sni.dll
Incident.SOR.API/obj/Incident.SOR.API.csproj.nuget.dgspec.json
Incident.SOR.API/obj/Incident.SOR.API.csproj.nuget.g.props
Incident.SOR.API/obj/Incident.SOR.API.csproj.nuget.g.targets
Incident.SOR.API/obj/project.assets.json
Incident.SOR.API/obj/project.nuget.cache
Incident.SOR.API/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Incident.SOR.API/obj/Debug/net6.0/apphost.exe
Incident.SOR.API/obj/Debug/net6.0/Incident.SOR.API.AssemblyInfo.cs
Incident.SOR.API/obj/Debug/net6.0/Incident.SOR.API.AssemblyInfoInputs.cache
Incident.SOR.API/obj/Debug/net6.0/Incident.SOR.API.assets.cache
Incident.SOR.API/obj/Debug/net6.0/Incident.SOR.API.csproj.AssemblyReference.cache
Incident.SOR.API/obj/Debug/net6.0/Incident.SOR.API.csproj.BuildWithSkipAnalyzers
Incident.SOR.API/obj/Debug/net6.0/Incident.SOR.API.csproj.CopyComplete
Incident.SOR.API/obj/Debug/net6.0/Incident.SOR.API.csproj.CoreCompileInputs.cache
Incident.SOR.API/obj/Debug/net6.0/Incident.SOR.API.csproj.FileListAbsolute.txt
Incident.SOR.API/obj/Debug/net6.0/Incident.SOR.API.dll
Incident.SOR.API/obj/Debug/net6.0/Incident.SOR.API.GeneratedMSBuildEditorConfig.editorconfig
Incident.SOR.API/obj/Debug/net6.0/Incident.SOR.API.genruntimeconfig.cache
Incident.SOR.API/obj/Debug/net6.0/Incident.SOR.API.GlobalUsings.g.cs
Incident.SOR.API/obj/Debug/net6.0/Incident.SOR.API.MvcApplicationPartsAssemblyInfo.cache
Incident.SOR.API/obj/Debug/net6.0/Incident.SOR.API.MvcApplicationPartsAssemblyInfo.cs
Incident.SOR.API/obj/Debug/net6.0/Incident.SOR.API.pdb
Incident.SOR.API/obj/Debug/net6.0/staticwebassets.build.json
Incident.SOR.API/obj/Debug/net6.0/ref/Incident.SOR.API.dll
Incident.SOR.API/obj/Debug/net6.0/refint/Incident.SOR.API.dll
Incident.SOR.API/obj/Debug/net6.0/staticwebassets/msbuild.build.Incident.SOR.API.props
Incident.SOR.API/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.Incident.SOR.API.props
Incident.SOR.API/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.Incident.SOR.API.props
Incident.SOR.Application/bin/Debug/net6.0/Incident.SOR.Application.deps.json
Incident.SOR.Application/bin/Debug/net6.0/Incident.SOR.Application.dll
Incident.SOR.Application/bin/Debug/net6.0/Incident.SOR.Application.pdb
Incident.SOR.Application/bin/Debug/net6.0/Incident.SOR.Domain.dll
Incident.SOR.Application/bin/Debug/net6.0/Incident.SOR.Domain.pdb
Incident.SOR.Application/obj/Incident.SOR.Application.csproj.nuget.dgspec.json
Incident.SOR.Application/obj/Incident.SOR.Application.csproj.nuget.g.props
Incident.SOR.Application/obj/Incident.SOR.Application.csproj.nuget.g.targets
Incident.SOR.Application/obj/project.assets.json
Incident.SOR.Application/obj/project.nuget.cache
Incident.SOR.Application/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Incident.SOR.Application/obj/Debug/net6.0/Incident.SOR.Application.AssemblyInfo.cs
Incident.SOR.Application/obj/Debug/net6.0/Incident.SOR.Application.AssemblyInfoInputs.cache
Incident.SOR.Application/obj/Debug/net6.0/Incident.SOR.Application.assets.cache
Incident.SOR.Application/obj/Debug/net6.0/Incident.SOR.Application.csproj.AssemblyReference.cache
Incident.SOR.Application/obj/Debug/net6.0/Incident.SOR.Application.csproj.BuildWithSkipAnalyzers
Incident.SOR.Application/obj/Debug/net6.0/Incident.SOR.Application.csproj.CopyComplete
Incident.SOR.Application/obj/Debug/net6.0/Incident.SOR.Application.csproj.CoreCompileInputs.cache
Incident.SOR.Application/obj/Debug/net6.0/Incident.SOR.Application.csproj.FileListAbsolute.txt
Incident.SOR.Application/obj/Debug/net6.0/Incident.SOR.Application.dll
Incident.SOR.Application/obj/Debug/net6.0/Incident.SOR.Application.GeneratedMSBuildEditorConfig.editorconfig
Incident.SOR.Application/obj/Debug/net6.0/Incident.SOR.Application.GlobalUsings.g.cs
Incident.SOR.Application/obj/Debug/net6.0/Incident.SOR.Application.pdb
Incident.SOR.Application/obj/Debug/net6.0/ref/Incident.SOR.Application.dll
Incident.SOR.Application/obj/Debug/net6.0/refint/Incident.SOR.Application.dll
Incident.SOR.Core/bin/Debug/net6.0/Incident.SOR.Core.deps.json
Incident.SOR.Core/bin/Debug/net6.0/Incident.SOR.Core.dll
Incident.SOR.Core/bin/Debug/net6.0/Incident.SOR.Core.pdb
Incident.SOR.Core/bin/Debug/net6.0/Incident.SOR.Domain.dll
Incident.SOR.Core/bin/Debug/net6.0/Incident.SOR.Domain.pdb
Incident.SOR.Core/obj/Incident.SOR.Core.csproj.nuget.dgspec.json
Incident.SOR.Core/obj/Incident.SOR.Core.csproj.nuget.g.props
Incident.SOR.Core/obj/Incident.SOR.Core.csproj.nuget.g.targets
Incident.SOR.Core/obj/project.assets.json
Incident.SOR.Core/obj/project.nuget.cache
Incident.SOR.Core/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Incident.SOR.Core/obj/Debug/net6.0/Incident.SOR.Core.AssemblyInfo.cs
Incident.SOR.Core/obj/Debug/net6.0/Incident.SOR.Core.AssemblyInfoInputs.cache
Incident.SOR.Core/obj/Debug/net6.0/Incident.SOR.Core.assets.cache
Incident.SOR.Core/obj/Debug/net6.0/Incident.SOR.Core.csproj.AssemblyReference.cache
Incident.SOR.Core/obj/Debug/net6.0/Incident.SOR.Core.csproj.BuildWithSkipAnalyzers
Incident.SOR.Core/obj/Debug/net6.0/Incident.SOR.Core.csproj.CopyComplete
Incident.SOR.Core/obj/Debug/net6.0/Incident.SOR.Core.csproj.CoreCompileInputs.cache
Incident.SOR.Core/obj/Debug/net6.0/Incident.SOR.Core.csproj.FileListAbsolute.txt
Incident.SOR.Core/obj/Debug/net6.0/Incident.SOR.Core.dll
Incident.SOR.Core/obj/Debug/net6.0/Incident.SOR.Core.GeneratedMSBuildEditorConfig.editorconfig
Incident.SOR.Core/obj/Debug/net6.0/Incident.SOR.Core.GlobalUsings.g.cs
Incident.SOR.Core/obj/Debug/net6.0/Incident.SOR.Core.pdb
Incident.SOR.Core/obj/Debug/net6.0/ref/Incident.SOR.Core.dll
Incident.SOR.Core/obj/Debug/net6.0/refint/Incident.SOR.Core.dll
Incident.SOR.Domain/bin/Debug/net6.0/Incident.SOR.Domain.deps.json
Incident.SOR.Domain/bin/Debug/net6.0/Incident.SOR.Domain.dll
Incident.SOR.Domain/bin/Debug/net6.0/Incident.SOR.Domain.pdb
Incident.SOR.Domain/obj/Incident.SOR.Domain.csproj.nuget.dgspec.json
Incident.SOR.Domain/obj/Incident.SOR.Domain.csproj.nuget.g.props
Incident.SOR.Domain/obj/Incident.SOR.Domain.csproj.nuget.g.targets
Incident.SOR.Domain/obj/project.assets.json
Incident.SOR.Domain/obj/project.nuget.cache
Incident.SOR.Domain/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Incident.SOR.Domain/obj/Debug/net6.0/Incident.SOR.Domain.AssemblyInfo.cs
Incident.SOR.Domain/obj/Debug/net6.0/Incident.SOR.Domain.AssemblyInfoInputs.cache
Incident.SOR.Domain/obj/Debug/net6.0/Incident.SOR.Domain.assets.cache
Incident.SOR.Domain/obj/Debug/net6.0/Incident.SOR.Domain.csproj.AssemblyReference.cache
Incident.SOR.Domain/obj/Debug/net6.0/Incident.SOR.Domain.csproj.BuildWithSkipAnalyzers
Incident.SOR.Domain/obj/Debug/net6.0/Incident.SOR.Domain.csproj.CoreCompileInputs.cache
Incident.SOR.Domain/obj/Debug/net6.0/Incident.SOR.Domain.csproj.FileListAbsolute.txt
Incident.SOR.Domain/obj/Debug/net6.0/Incident.SOR.Domain.dll
Incident.SOR.Domain/obj/Debug/net6.0/Incident.SOR.Domain.GeneratedMSBuildEditorConfig.editorconfig
Incident.SOR.Domain/obj/Debug/net6.0/Incident.SOR.Domain.GlobalUsings.g.cs
Incident.SOR.Domain/obj/Debug/net6.0/Incident.SOR.Domain.pdb
Incident.SOR.Domain/obj/Debug/net6.0/ref/Incident.SOR.Domain.dll
Incident.SOR.Domain/obj/Debug/net6.0/refint/Incident.SOR.Domain.dll
Incident.SOR.Infrastructure/bin/Debug/net6.0/Incident.SOR.Application.dll
Incident.SOR.Infrastructure/bin/Debug/net6.0/Incident.SOR.Application.pdb
Incident.SOR.Infrastructure/bin/Debug/net6.0/Incident.SOR.Core.dll
Incident.SOR.Infrastructure/bin/Debug/net6.0/Incident.SOR.Core.pdb
Incident.SOR.Infrastructure/bin/Debug/net6.0/Incident.SOR.Domain.dll
Incident.SOR.Infrastructure/bin/Debug/net6.0/Incident.SOR.Domain.pdb
Incident.SOR.Infrastructure/bin/Debug/net6.0/Incident.SOR.Infrastructure.deps.json
Incident.SOR.Infrastructure/bin/Debug/net6.0/Incident.SOR.Infrastructure.dll
Incident.SOR.Infrastructure/bin/Debug/net6.0/Incident.SOR.Infrastructure.pdb
Incident.SOR.Infrastructure/obj/Incident.SOR.Infrastructure.csproj.nuget.dgspec.json
Incident.SOR.Infrastructure/obj/Incident.SOR.Infrastructure.csproj.nuget.g.props
Incident.SOR.Infrastructure/obj/Incident.SOR.Infrastructure.csproj.nuget.g.targets
Incident.SOR.Infrastructure/obj/project.assets.json
Incident.SOR.Infrastructure/obj/project.nuget.cache
Incident.SOR.Infrastructure/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Incident.SOR.Infrastructure/obj/Debug/net6.0/Incident.SOR.Infrastructure.AssemblyInfo.cs
Incident.SOR.Infrastructure/obj/Debug/net6.0/Incident.SOR.Infrastructure.AssemblyInfoInputs.cache
Incident.SOR.Infrastructure/obj/Debug/net6.0/Incident.SOR.Infrastructure.assets.cache
Incident.SOR.Infrastructure/obj/Debug/net6.0/Incident.SOR.Infrastructure.csproj.AssemblyReference.cache
Incident.SOR.Infrastructure/obj/Debug/net6.0/Incident.SOR.Infrastructure.csproj.BuildWithSkipAnalyzers
Incident.SOR.Infrastructure/obj/Debug/net6.0/Incident.SOR.Infrastructure.csproj.CopyComplete
Incident.SOR.Infrastructure/obj/Debug/net6.0/Incident.SOR.Infrastructure.csproj.CoreCompileInputs.cache
Incident.SOR.Infrastructure/obj/Debug/net6.0/Incident.SOR.Infrastructure.csproj.FileListAbsolute.txt
Incident.SOR.Infrastructure/obj/Debug/net6.0/Incident.SOR.Infrastructure.dll
Incident.SOR.Infrastructure/obj/Debug/net6.0/Incident.SOR.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
Incident.SOR.Infrastructure/obj/Debug/net6.0/Incident.SOR.Infrastructure.GlobalUsings.g.cs
Incident.SOR.Infrastructure/obj/Debug/net6.0/Incident.SOR.Infrastructure.pdb
Incident.SOR.Infrastructure/obj/Debug/net6.0/ref/Incident.SOR.Infrastructure.dll
Incident.SOR.Infrastructure/obj/Debug/net6.0/refint/Incident.SOR.Infrastructure.dll
Incident.SOR.API/.vs/Incident.SOR.API/DesignTimeBuild/.dtbcache.v2
Incident.SOR.API/.vs/Incident.SOR.API/FileContentIndex/73c369df-9507-40c8-a45e-b6e55e6c960d.vsidx
Incident.SOR.API/.vs/Incident.SOR.API/FileContentIndex/8a7f0f41-b58a-4f99-9eed-500320fe17f4.vsidx
Incident.SOR.API/.vs/Incident.SOR.API/FileContentIndex/d4213c07-4a1e-405e-974e-8ea146abc6d7.vsidx
Incident.SOR.API/.vs/Incident.SOR.API/FileContentIndex/e129725e-0db9-4528-ae8e-c6a83d343674.vsidx
Incident.SOR.API/.vs/Incident.SOR.API/FileContentIndex/c3e2a810-7e3b-46e5-995c-322b97d309ea.vsidx
