.color-container {
    border-radius: 5px;
    height: 64px;
    width: 64px;
}
.e-card > .e-card-title {
    font-size: 13px;
    line-height: normal;
    padding: 18px 12px 12px;
    text-align: center;
    background-color: #eee!important;
}
.e-card-title {
    background-color: #e1e1e1;
}