<div class="modal-header">
    <h4 class="modal-title">Create New</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <div class="mb-3 d-flex">
        <div class="form-group flex-grow-1">
            <label for="incidentName" class="form-label">Name</label>
            <input id="incidentName" type="text" class="form-control" [(ngModel)]="incidentDto.name" placeholder="Type tag name" /> &nbsp;
        </div>
        <div class="form-group px-2">
            <label for="colorPicker" class="form-label">Color</label><br />
            <input ejs-colorpicker type="color" id="colorPicker" mode="Palette" [(ngModel)]="incidentDto.color" />
        </div>
    </div>
    
    <div class="form-group">
        <label for="incidentDescription" class="form-label">Tag Description</label>
        <textarea id="incidentDescription" class="form-control" [(ngModel)]="incidentDto.description"></textarea>
    </div>
</div>
<div class="modal-footer d-flex justify-content-between">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    <button type="button" class="btn btn-success" (click)="save()">Save</button>
</div>